@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

img {
	display: inline-block;
	width: 30%;
	height: 200px;
	border: 1px solid black;
	margin-left: 2.5%;
	margin-bottom: 10px;

}

* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
}
.auth-header {
	font-size: 100px;
	text-align: center;
	color: goldenrod;
}
.auth-container-row {

	h2 {
		font-size: 100px;
		text-align: center;
		color: #000;
	}
	// input {
	// 	height: 100px;
	// 	width: 500px;
	// 	margin-left: 30%;
	// }
}

.auth-inputs {
	height: 75px;
	width: 500px;
	margin-left: 30%;
	font-size: 50px;
}

.auth-button {
	width: 500px;
	height: 50px;
	margin-left: 30%;
}

.user-container {
	margin-top: 75px;
}
.multi-header {
	font-size: 75px;
	text-align: center;
	color: #ff0000;
}

.multi-sub-header {
	font-size: 40px;
	text-align: center;
	color: #ff3399;
}

.multi-pic-container {
	width: 70%;
	margin: auto;
}

.inv-input-container {
	margin-top: 50px;

}

.inv-form-container {
	margin-left: 35%;
}

.note-to-self {
	text-align: center;
}
