@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

img {
	display: inline-block;
	width: 30%;
	height: 200px;
	border: 1px solid black;
	margin-left: 2.5%;
	margin-bottom: 10px;

}

* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
	background: #95A5A6;
}
.auth-header {
	font-size: 100px;
	text-align: center;
	color: goldenrod;
}
.auth-container-row {

	h2 {
		font-size: 100px;
		text-align: center;
		color: #000;
	}

}

.auth-inputs {
	height: 75px;
	width: 500px;
	margin-left: 30%;
	font-size: 50px;
	background: #2C3E50;
	color: #ECF0F1;
}

.auth-button {
	width: 500px;
	height: 50px;
	margin-left: 30%;
}

.user-container {
	margin-top: 75px;
}

.multi-container {
	hr {
		color: #000000;
	}
}
.multi-header {
	font-size: 75px;
	text-align: center;
	color: goldenrod;
	font-weight: 700;
}

.multi-sub-header {
	font-size: 40px;
	text-align: center;
	color: #E87E04;
}

.multi-pic-container {
	width: 70%;
	margin: auto;
	background: #95A5A6;
}

.thumbnail-container {
	height: 220px;
	background: #D35400;

}

.thumbnail-container-single {

	background: #D35400;

}

.inv-input-container {
	margin-top: 50px;

}

.inv-form-container {
	margin-left: 35%;
}

.single-header {
	font-size: 100px;
	text-align: center;
}

.oops-header {
	font-size: 200px;
	color: chartreuse;
	text-align: center;
}

.oops-comment {
	font-size: 75;
	color: #ff00ff;
	text-align: center
}
